# Explore here

In [8]:
def guardar_csv(data , url_archivo):
    data.to_csv(url_archivo, index= True)

In [12]:
import requests
import pandas as pd

# URL 
url_fed = "https://api.stlouisfed.org/fred/series/observations?series_id=CPIAUCSL&api_key"

# Parámetros de la solicitud
parametros_fed = {
    "api_key": "b6dca5032d89bde8384394e634438df6",  
    "file_type": "json" 
}

def api_fed(url, parametros, realtime_start, realtime_end):

# Añadir fechas de busqueda 
    parametros["realtime_start"] = realtime_start
    parametros["realtime_end"] = realtime_end


# Realizar la solicitud GET
    response = requests.get(url, params=parametros)

# Verificar si la solicitud fue exitosa
    if response.status_code == 200:
    # Convertir la respuesta a formato JSON
        data = response.json()
    # Retorna la data 
        return data
    else:
        print(f"Error en la solicitud: {response.status_code}")


data = api_fed(url_fed,parametros_fed, "2021-01-01", "2023-12-31")

data_fed = pd.DataFrame(data)

guardar_csv(data_fed , "../data/fed_historical_data.csv")

data_fed

,realtime_start,realtime_end,observation_start,observation_end,units,output_type,file_type,order_by,sort_order,count,offset,limit,observations
0,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,"{'realtime_start': '2021-01-01', 'realtime_end..."
1,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,"{'realtime_start': '2021-01-01', 'realtime_end..."
2,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,"{'realtime_start': '2021-01-01', 'realtime_end..."
3,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,"{'realtime_start': '2021-01-01', 'realtime_end..."
4,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,"{'realtime_start': '2021-01-01', 'realtime_end..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,"{'realtime_start': '2023-08-10', 'realtime_end..."
1099,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,"{'realtime_start': '2023-09-13', 'realtime_end..."
1100,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,"{'realtime_start': '2023-10-12', 'realtime_end..."
1101,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,"{'realtime_start': '2023-11-14', 'realtime_end..."
1102,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,"{'realtime_start': '2023-12-12', 'realtime_end..."

In [17]:
import requests
import csv
import json
from datetime import datetime, timedelta

# API Key de Polygon.io
key_activos = '2T0PMe4qTXopT2r7lymhHfrBvMNhx6VI'

# Símbolos de los activos
activos = {      
    'VTI': 'VTI',          
    'Oro': 'C:XAUUSD',       
    'Bitcoin': 'X:BTCUSD'    
}

# Función para consultar datos históricos de un activo
def api_activos(key_activos, activo, timespan='day', start_date=None, end_date=None):
    # URL de la API para obtener los datos históricos
    url = f'https://api.polygon.io/v2/aggs/ticker/{activo}/range/1/{timespan}/{start_date}/{end_date}?adjusted=true&sort=asc&apiKey={key_activos}'
    
    # Hacer la solicitud GET a la API de Polygon.io
    response = requests.get(url)
    print(url)

    # Verificar si la solicitud fue exitosa
    if response.status_code == 200:
        # Convertir la respuesta a formato JSON
        data = response.json()
        print ("bien")

        if 'results' in data:
            return data['results']  # Devolver solo los resultados
        else:
            print("No se encontraron resultados en la respuesta.")
            return []
    else:
        print(f"Error en la solicitud: {response.status_code}")
        return []


# Llamar a la función para cada activo y guardar los datos en archivos CSV separados

# Obtener y guardar datos del VTI
historical_data_vti = api_activos(key_activos, activos['VTI'], 'day', "2021-01-01", "2023-12-31")
vti = pd.DataFrame(historical_data_vti)
guardar_csv(vti, '../data/VTI_historical_data.csv')


# Obtener y guardar datos del Oro (XAUUSD)
historical_data_oro = api_activos(key_activos, activos['Oro'], 'day', "2021-01-01", "2023-12-31")
oro = pd.DataFrame(historical_data_oro)
guardar_csv(oro, '../data/Oro_historical_data.csv')

# Obtener y guardar datos del Bitcoin (BTCUSD)
historical_data_btc = api_activos(key_activos, activos['Bitcoin'], 'day', "2021-01-01", "2023-12-31")
btc = pd.DataFrame(historical_data_btc)
guardar_csv(btc, '../data/Bitcoin_historical_data.csv')

https://api.polygon.io/v2/aggs/ticker/VTI/range/1/day/2021-01-01/2023-12-31?adjusted=true&sort=asc&apiKey=2T0PMe4qTXopT2r7lymhHfrBvMNhx6VI
bien
https://api.polygon.io/v2/aggs/ticker/C:XAUUSD/range/1/day/2021-01-01/2023-12-31?adjusted=true&sort=asc&apiKey=2T0PMe4qTXopT2r7lymhHfrBvMNhx6VI
bien
https://api.polygon.io/v2/aggs/ticker/X:BTCUSD/range/1/day/2021-01-01/2023-12-31?adjusted=true&sort=asc&apiKey=2T0PMe4qTXopT2r7lymhHfrBvMNhx6VI
bien